.landing-logo {
  width: 120px;
}

.landing-page {
  background: #162b4d;
  height: 100%;
  width: 100%;

  .bg-gradient-primary {
    // $imageSRC:"https://i.pinimg.com/564x/a6/90/30/a69030263e95c43281d719936a36a61d.jpg";
    // $imageSRC: "https://i.pinimg.com/originals/dd/c4/4b/ddc44bd1fc7221a181f9bf6c18ee43aa.gif";
    $imageSRC: "/bg-swirl.gif";

    background: linear-gradient(87deg, #060a33c0 0, #05125cc5 100%),
      url($imageSRC) center no-repeat !important;
    background-size: cover !important;
    // background-position-y: -100px !important;
    height: 70vh;
    animation: bgpan 5s infinite !important;
  }
}

@keyframes bgpan {
  50% {
    background-position-y: -300px !important;
  }
}

.page-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.about-img {
  // height: 400px;
  margin-left: 30px;
  box-shadow: 0px 9px 13px 3px rgba(0, 0, 0, 0.144);

  @media (max-width: 700px) {
    margin: 0px;
  }
}

.text-active {
  color: rgb(64, 238, 200);
}

.text-lead {
  line-height: 30px;
}
