.dashboard-content {
  min-height: 100vh;
  width: 95%;
  margin-left: 70px;
  background: #253a5a;

  h1,
  p,
  span {
    color: #ffff !important;
  }

  .content-header {
    width: 100%;
    height: 240px;
    background: #193d76;
    padding: 30px 40px;
    box-shadow: 7px 0px 15px -2px rgba(0, 0, 0, 0.253);

    .content-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .search-input {
        padding: 10px 20px;
        border-radius: 25px;
        width: 300px;
        outline: none;
        border: 2px solid #2868cf;
        color: #fff;
        background: rgba(0, 0, 0, 0.63);
        transition: 0.3s;

        &:focus {
          transition: 0.3s;
          border: 2px solid #40f5e6;
        }
      }
    }
  }
}

// pulsate css

/* Make the element pulse (grow large and small slowly) */
/* Usage
    .myElement {
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1;
    }
*/
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/* Make the element's opacity pulse*/
/* Usage
  .myElement {
      animation: opacityPulse 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
  }
*/
@keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Make the element's background pulse. I call this alertPulse because it is red. You can call it something more generic. */
/* Usage
  .myElement {
      animation: alertPulse 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 1;
  }
*/
@keyframes alertPulse {
  0% {
    background-color: #9a2727;
    opacity: 1;
  }
  50% {
    opacity: red;
    opacity: 0.75;
  }
  100% {
    opacity: #9a2727;
    opacity: 1;
  }
}

/* Make the element rotate infinitely. */
/*
Usage
  .myElement {
      animation: rotating 3s linear infinite;
  }
*/
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;

  /* you dont need the stuff below, but its what I used to create the loading circle */
  border: 3px solid rgb(175, 25, 25);
  border-radius: 30px;
  height: 18px;
  width: 18px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

// table content

.table-content {
  margin-top: -90px;
  // margin-left: -80px;
  display: flex;
  justify-content: center;
  width: 100%;

  .table {
    box-shadow: none !important;
  }
}

.prose table:not(.unprose),
.table {
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: none;
}

// nprogress

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-capitalize {
  text-transform: capitalize !important;
  font-size: 12px !important;
}

.text-mode {
  padding: 2px 5px;
  border: 0.1px solid rgb(14, 196, 202);
  color: rgb(14, 196, 202) !important;
  font-size: 12px !important;
  border-radius: 2px;
}

.record-row {
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background: rgb(14, 17, 59);
    transition: 0.3s;
  }

  &.active {
    cursor: default;
    background: rgb(9, 14, 90);
    transition: 0.3s;
  }
}

.stats-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .stats-card {
    background: #051c3f;
    border-radius: 5px;
    height: 120px;
    width: 280px;
    box-sizing: border-box;
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 7px 0px 15px -2px rgba(0, 0, 0, 0.253);

    h1 {
      font-size: 30px;
      text-align: right;
      small {
        font-size: 13px;
        position: relative;
        color: rgb(15, 197, 188);
        top: -10px;
      }

      span {
        position: relative;
        top: -13px;
      }
    }
  }
}

// status banner

.status-banner {
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;

  &.CONFIRMED {
    border: 2px solid #40f5e6;
    color: #40f5e6;
  }

  &.PENDING {
    border: 2px solid #f5bc40;
    color: #f5b640;
  }
}

.form-group {
  .input-group-prepend {
    border: 1px solid #29d !important;
  }

  input,
  textarea {
    border: 1px solid #29d !important;
    padding-left: 10px !important;
  }
}

.incident-list {
  li {
    padding: 10px 20px;
    border-bottom: 1px solid #88a0c7;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background: rgba(238, 238, 238, 0.678);
      transition: 0.3s;
    }

    &.selected {
      background: rgb(245, 204, 204);
      color: rgb(163, 45, 41);
      border-bottom: 2px solid #9b1431;
    }
  }
}
