.dashboard-content {
  min-height: 100vh;
  width: 95%;
  margin-left: 70px;
  background: #253a5a;

  h1,
  p,
  span {
    color: #ffff !important;
  }

  .content-header {
    width: 100%;
    height: 240px;
    background: #193d76;
    padding: 30px 40px;

    .content-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .search-input {
        padding: 10px 20px;
        border-radius: 25px;
        width: 300px;
        outline: none;
        border: 2px solid #2868cf;
        color: #fff;
        background: rgba(0, 0, 0, 0.63);
      }
    }
  }
}

// pulsate css

/* Make the element pulse (grow large and small slowly) */
/* Usage
    .myElement {
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1;
    }
*/
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/* Make the element's opacity pulse*/
/* Usage
  .myElement {
      animation: opacityPulse 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
  }
*/
@keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Make the element's background pulse. I call this alertPulse because it is red. You can call it something more generic. */
/* Usage
  .myElement {
      animation: alertPulse 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 1;
  }
*/
@keyframes alertPulse {
  0% {
    background-color: #9a2727;
    opacity: 1;
  }
  50% {
    opacity: red;
    opacity: 0.75;
  }
  100% {
    opacity: #9a2727;
    opacity: 1;
  }
}

/* Make the element rotate infinitely. */
/*
Usage
  .myElement {
      animation: rotating 3s linear infinite;
  }
*/
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;

  /* you dont need the stuff below, but its what I used to create the loading circle */
  border: 3px solid rgb(175, 25, 25);
  border-radius: 30px;
  height: 18px;
  width: 18px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

// table content

.table-content {
  margin-top: -90px;
  // margin-left: -80px;
  display: flex;
  justify-content: center;
  width: 100%;

  .table {
    box-shadow: none !important;
  }
}

.prose table:not(.unprose),
.table {
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: none;
}
