.dashboard-content {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  margin-left: 70px;
  // background: url("https://i.redd.it/lotekg094st11.png");
  background: #fff;
  background-size: cover;
}
