.sidebar {
  position: fixed;
  height: 100vh;
  width: 45px;
  background: rgb(5, 22, 44);
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
  box-shadow: 7px 0px 15px -2px rgba(0, 0, 0, 0.151);
  overflow: hidden;
  overflow-y: auto;
  align-items: center;

  .landing-logo {
    width: 35px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      color: rgb(96, 116, 228);
      margin-bottom: 20px;
      padding: 5px;
      cursor: pointer;
      transition: 0.3s;
      font-size: 20px;

      &:hover {
        color: #fff;
      }

      &.active {
        color: rgb(33, 243, 198);
        background: rgb(9, 74, 148);
        border-radius: 2px;
      }
    }
  }

  .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      $size: 24px;
      height: $size;
      width: $size;
      border-radius: $size;
      object-fit: cover;
      border: 1px solid rgb(57, 209, 163);
      box-shadow: 0px 0px 5px 0px rgba(28, 218, 176, 0.658);
    }
  }
}

.map-content {
  background: rgb(10, 9, 39);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.event-thread {
  position: fixed;
  width: 360px;
  height: 100vh;
  background: rgba(19, 17, 17, 0.849);
  padding: 20px 20px;
  right: 0px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 200 !important;

  .events-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.4px solid rgb(31, 41, 63);
    padding: 10px 0px;
    margin-bottom: 20px;
  }
}

.event-card {
  padding: 10px;
  font-size: 13px;
  border-radius: 3px;
  background: rgb(29, 28, 28);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: rgb(150, 150, 150);

  span {
    strong {
      color: rgba(204, 145, 78, 0.973);
    }
  }

  .event-card-header {
    border-bottom: 1px solid rgb(43, 40, 40);
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fff;

    i {
      background: rgba(216, 172, 51, 0.932);
      border-radius: 100%;
      font-size: 15px;
      color: #fff !important;
      padding: 2px;
    }

    &.distress {
      i {
        background: rgb(235, 102, 102);
      }
    }
  }

  &:hover {
    transition: 0.3s;
    color: #fff;
    box-shadow: 0px 0px 12px 3px rgba(7, 95, 107, 0.397);
  }
}

.event-img {
  object-fit: cover;
  margin-bottom: 10px;
}

.bg-active {
  background: greenyellow !important;
}

#map {
  height: 100%;
  margin-left: 45px;
}

.event-alert {
  height: 250px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(rgba(216, 53, 47, 0.5), rgba(39, 8, 4, 0.692)),
    url("../assets/mapbg.png");
  background-size: cover;
  margin-bottom: 10px;
  display: grid;

  i {
    color: #fff;
  }
}

.distress-alert {
  height: 250px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(rgba(156, 24, 24, 0.5), rgba(56, 8, 100, 0.822)),
    url("../assets/mapbg.png");
  background-size: cover;
  margin-bottom: 10px;
  display: grid;

  i {
    color: #fff;
  }
}

// pulse dot

@keyframes pulse-alert {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(245, 164, 59, 0.507);
  }
  100% {
    box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0);
  }
}

.pulse-alert {
  border-radius: 100px;
  animation: pulse-alert 1.5s infinite ease-out;
  background: rgba(192, 46, 46, 0.925);
  display: grid;
  margin: auto;

  &.map-icon {
    top: -10px;
    cursor: pointer;
    opacity: 0.4;

    $size: 20px;
    width: $size;
    height: $size;

    i {
      margin: auto;
      font-size: 15px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.fishing-bg {
    background: rgba(218, 178, 47, 0.925);
  }

  &.marker-selected {
    // background: rgba(28, 149, 230, 0.925);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    animation: pulse-selected 1s infinite ease-out;
    opacity: 1;
  }

  &.mast {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    animation: pulse-selected 1s infinite ease-out;
  }
}

.color {
  color: #e66561;
  background: rgba(241, 137, 154, 0.479);
}

// event thread

.details-thread {
  z-index: 999 !important;
}

// empty-thread

.empty-thread {
  display: flex;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60%;
  padding: 0px 20px;

  h1 {
    color: rgb(0, 174, 255);
    font-weight: 300;
  }

  img {
    width: 110px;
    margin-bottom: 20px;
  }
}
