.sidebar {
  position: fixed;
  height: 100vh;
  width: 70px;
  background: rgb(8, 8, 49);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .landing-logo {
    height: 50px;
    width: 50px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      color: rgb(96, 116, 228);
      margin-bottom: 20px;
      padding: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #fff;
      }

      &.active {
        color: #fff;
        background: rgb(36, 126, 230);
        border-radius: 3px;
      }
    }
  }

  .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      $size: 40px;
      height: $size;
      width: $size;
      border-radius: $size;
      object-fit: cover;
      border: 3px solid rgb(57, 209, 163);
    }
  }
}
